/* google font awsome */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
}
/* header section */
.top-header{
    text-align: center;
    color: olivedrab;
} 
/* form style */
.form-header{
    text-align: center;
}
/* main contents for calculation */
.content{
    height: 50vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    
}
.content img{
    width: 75%;
    margin-left: 40px;
    margin-top: 20px;
}
.income-form {
    margin-top: 20px;
    margin-right: 40px;
    width: 50%;
   background-color: rgb(233, 231, 231);
   
}
.form-content{
    text-align: center;
    padding: 20px;
}
.btn-calc{
    margin: 20px;
    padding: 10px;
    font-size: large;
    background-color: rgb(231, 92, 41);
    border-radius: 10px;
    color: white;
}
/* media queries */
@media only screen and (max-width: 600px) {
    .form-content {
    background-color: lightblue;
    display: block;
  }
}
