@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
}
.top-header{
    text-align: center;
    color: olivedrab;
}
.form-header{
    text-align: center;
}
.content{
    display: flex;
    
}
.content img{
    width: 75%;
    margin-left: 40px;
    margin-top: 20px;
}
.income-form {
    margin-top: 20px;
    margin-right: 40px;
    width: 50%;
   background-color: rgb(233, 231, 231);
   
}
.form-content{
    text-align: center;
    padding: 20px;
}
.btn-calc{
    margin: 20px;
    padding: 10px;
    font-size: large;
    background-color: rgb(231, 92, 41);
    border-radius: 10px;
    color: white;
}
